@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="user/tigerfox">tigerfox</a>
            <a href="user/squirrel">squirrel</a>
            <a href="user/kangaroo">kangaroo</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
